/* Home.css */
.home-container {
  padding-top: 60px;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.section:nth-child(odd) {
  background: white;
}

.section:nth-child(even) {
  background: #f0f3f5; 
}

button{
background-color: #1183a0;
  color: white;
  padding: 12px 12px;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  font-size: 20px;
  transition: 0.3s;
}

.section {
  padding: 40px;
  width: 90%;
  align-items: left;
  border-radius: 25px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 30px 0px 0px 30px;
}

h2 {
  font-size: 28px;
  color: #333;
}

p {
  font-size: 16px;
  color: #555;
}
